[Unit]
Description=dnsmasq
Wants=network.target
After=sys-subsystem-net-devices-usb0.device network.target sshd.service rc-local.service

[Service]
Type=simple
ExecStart=/sbin/start-stop-daemon -S -x /sbin/dnsmasq -- -z -d -C /etc/dnsmasq_usb0.conf
ExecStop=/sbin/start-stop-daemon -K -x /sbin/dnsmasq -- signal INT
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
