[Unit]
Description = inotify based file syncing Service

[Service]
Type=simple
WorkingDirectory=/root
ExecStart=/sbin/start-stop-daemon -S -m -p ${PID_FILE} -x /usr/sbin/inot.sh
ExecStop=/sbin/start-stop-daemon -K -x /usr/sbin/inot.sh -p ${PID_FILE} --remove-pidfile --signal INT
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target

